<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhf.dao.LinkDao">

	<resultMap type="Link" id="LinkResult">
		<result property="id" column="id"/>
		<result property="linkName" column="linkName"/>
		<result property="linkUrl" column="linkUrl"/>
		<result property="linkImage" column="linkImage"/>
		<result property="orderNo" column="orderNo"/>
	</resultMap>

	<select id="list" parameterType="Map" resultMap="LinkResult">
		select * from t_link order by orderNo
	</select>

	<select id="listLink" parameterType="Map" resultMap="LinkResult">
		select * from t_link
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>

	<insert id="add" parameterType="Link">
		insert into t_link values (null,#{linkName},#{linkUrl},#{orderNo},'default.jpg')
	</insert>

	<update id="update" parameterType="BlogType">
		update t_link
		<set>
			<if test="linkName!=null and linkName!='' ">
				linkName=#{linkName},
			</if>
			<if test="linkUrl!=null and linkUrl!='' ">
				linkUrl=#{linkUrl},
			</if>
			<if test="orderNo!=null">
				orderNo=#{orderNo},
			</if>
			<if test="linkImage!=null and linkImage!='' ">
				linkImage=#{linkImage},
			</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from t_link where id=#{id}
	</delete>

	<select id="findById" parameterType="Integer" resultMap="LinkResult">
		select * from t_link where id=#{id}
	</select>
</mapper> 